body, html {
    background-color: lightcyan;
    height: 100%;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
  
.header-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/web-dev-hero-img.jpg);
    height: 50%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.header-hero-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
 
.nav ul {
    color:darkslategray;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    max-width: 1000px;
    line-height: 1.5;
    align-items: center;
    
}

.btn{
    color:black;
    background: lightgray;
    padding:10px 20px 20px 20px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align: center;
    
    display:-webkit-inline-box
}
  
.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding: 15px;
    color: #000;
}

.about-me {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 25px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
}

.work {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 25px;
    height: 490px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
    
    
}


.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
 
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.desc {
    padding: 15px;
    text-align: center;
    font-weight: bolder;
}

.contact {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 25px;
    padding-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
    display: flex;
    flex-flow: row wrap;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical
}
  
input[type=submit] {
    background-color:paleturquoise;
    color: black;
    padding: 12px 20px;
    border:purple;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color:darkturquoise;
}
  
 
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: 25px 25px 25px 180px;
}

.footer {
    margin-bottom: 100px;
    margin-top: 25px;
    text-align: center;
    padding: 25px;
    height: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
}



@media only screen and (max-width: 992px) {
    .gallery__img {
      width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .gallery__img {
      width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .gallery__img {
      width: 25%;
    }
}