body, html {
    background-color: lightcyan;
    height: 100%;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
  
.header-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/placeholding-bear.jfif);
    height: 50%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.header-hero-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
 
.nav ul {
    color:darkslategray;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    max-width: 1000px;
}

.btn{
    color:#999;
    background:rgba(0, 0, 0);
    padding:10px 20px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align: center;
}
  
.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px;
    color: #000;
}