body, html {
    background-color: lightcyan;
    height: 100%;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
  
.header-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/web-dev-hero-img.jpg);
    height: 50%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.header-hero-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
 
.nav ul {
    color:darkslategray;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    max-width: 1000px;
    line-height: 1.5;
    align-items: center;
    
}

.btn{
    color:black;
    background: lightgray;
    padding:10px 20px 20px 20px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align: center;
    
    display:-webkit-inline-box
}
  
.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding: 15px;
    color: #000;
}

.about-me {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 25px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
}

.work {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 25px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
}

.contact {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 25px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 70px;
}

.gallery__img::after {
    content: "testing";
    white-space: nowrap;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    -ms-flex-align: center;
}

.footer {
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
    padding: 25px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lavenderblush;
    color: black;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
.input, textarea {
     border:0; outline:0;
     padding: 1px;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 5px;
     font-family: 'Merriweather', sans-serif;
     box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
}
  
#input-submit {
     color: white; 
     background:deeppink;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
}
  
textarea {
    height: 200px;
  
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: "1"; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}